<% include partials/header %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="text-center">Edit <%= dog.name %>'s Info</h1>
      <form action="/dogs/<%= dog._id %>/?_method=PUT" method="POST">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="dog[name]" class="form-control" value="<%= dog.name %>">
        </div>
<!--
        <div class="form-group">
          <label>Breed</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Age</label>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input id="radio1" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Puppy</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radio2" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Young</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radio3" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Adult</span>
            </label>
            <label class="custom-control custom-radio">
              <input id="radio4" name="radio" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Senior</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Size</label>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Small</span>
            </label>
            <label class="custom-control custom-radio">
              <input  type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Medium</span>
            </label>
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Large</span>
            </label>
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Extra-large</span>
            </label>
          </div>
        </div>
-->
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" name="dog[description]" rows="12"><%= dog.description %></textarea>
        </div>

<!--
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              This dog needs special care
            </label>
          </div>
-->
        <div class="form-group">
          <label>Current Image</label>
          <input type="text" name="dog[image]" class="form-control" value="<%= dog.image %>">
          <p>Image Preview:</p>
          <p><img class="img-fluid rounded" width="100px" src="<%= dog.image %>"></p>
        </div>
        <button type="submit" class="btn btn-primary">Commit Changes</button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>